body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

header {
    
}

.button {
    
}

nav {
    
}

.nav-link {
    text-decoration: none;
}

h1 {

}

p {
    font-size: 20px;
}

.info {
   
}

article {
   
}

.article-but {
    
}

footer {
   
}

footer a {
    
}

footer p {
}

header img{
    width: 200px;
    height: 120px;
}

img{
    width: 200px;
    height: 120px;
}

.nav-link{

}
